In [21]:
import pandas as pd
import numpy as np

In [36]:
import os
os.makedirs('Data',exist_ok=True)

In [42]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [43]:
%%time
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

CPU times: total: 29.7 s
Wall time: 48.2 s

# akas

In [16]:
df_reader = pd.read_csv(akas_url, sep='\t',
                        low_memory=False, chunksize=100_000)
df_reader

In [17]:
## the first row # of the next chunk is stored under ._currow
df_reader._currow

0

In [28]:
# Use the .get_chunk() method to extract the first chunk of rows.
temp_df = df_reader.get_chunk()
temp_df

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
100000,tt0022128,3,Masquerade,GB,\N,imdbDisplay,\N,0
100001,tt0022128,4,Mardi Gras,US,\N,working,\N,0
100002,tt0022128,5,Masquerade,\N,\N,original,\N,1
100003,tt0022129,1,Il medico per forza,IT,\N,imdbDisplay,\N,0
100004,tt0022129,2,Il medico per forza,\N,\N,original,\N,1
...,...,...,...,...,...,...,...,...
199995,tt0035347,7,Franchi tiratori,IT,\N,\N,poster title,0
199996,tt0035348,1,Joe McDoakes: So You Think You Need Glasses,US,\N,\N,series title,0
199997,tt0035348,2,So You Think You Need Glasses,\N,\N,original,\N,1
199998,tt0035348,3,So You Think You Need Glasses,US,\N,imdbDisplay,\N,0
199999,tt0035349,1,Joe McDoakes: So You Want to Give Up Smoking,US,\N,\N,series title,0

In [19]:
## checking the updated ._currow
df_reader._currow

100000

In [29]:
## Keep only us
temp_df = temp_df[~(temp_df['region'] != 'US')]
temp_df

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
100001,tt0022128,4,Mardi Gras,US,\N,working,\N,0
100006,tt0022130,2,Meet the Wife,US,\N,imdbDisplay,\N,0
100020,tt0022132,5,"My Wife, the Adventuress",US,\N,imdbDisplay,\N,0
100025,tt0022133,1,A Melon-Drama,US,\N,imdbDisplay,\N,0
100027,tt0022133,3,Broadway Headliners: A Melon-Drama,US,\N,\N,series title,0
...,...,...,...,...,...,...,...,...
199985,tt0035345,4,The East Side Kids in Smart Alecks,US,\N,\N,complete title,0
199987,tt0035346,2,Smith of Minnesota,US,\N,imdbDisplay,\N,0
199996,tt0035348,1,Joe McDoakes: So You Think You Need Glasses,US,\N,\N,series title,0
199998,tt0035348,3,So You Think You Need Glasses,US,\N,imdbDisplay,\N,0
199999,tt0035349,1,Joe McDoakes: So You Want to Give Up Smoking,US,\N,\N,series title,0

In [35]:
temp_df = temp_df.copy()

# Replace '\N' with np.nan in the copy
temp_df.replace({'\\N': np.nan}, inplace=True)
temp_df

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
100001,tt0022128,4,Mardi Gras,US,NaN,working,NaN,0
100006,tt0022130,2,Meet the Wife,US,NaN,imdbDisplay,NaN,0
100020,tt0022132,5,"My Wife, the Adventuress",US,NaN,imdbDisplay,NaN,0
100025,tt0022133,1,A Melon-Drama,US,NaN,imdbDisplay,NaN,0
100027,tt0022133,3,Broadway Headliners: A Melon-Drama,US,NaN,NaN,series title,0
...,...,...,...,...,...,...,...,...
199985,tt0035345,4,The East Side Kids in Smart Alecks,US,NaN,NaN,complete title,0
199987,tt0035346,2,Smith of Minnesota,US,NaN,imdbDisplay,NaN,0
199996,tt0035348,1,Joe McDoakes: So You Think You Need Glasses,US,NaN,NaN,series title,0
199998,tt0035348,3,So You Think You Need Glasses,US,NaN,imdbDisplay,NaN,0
199999,tt0035349,1,Joe McDoakes: So You Want to Give Up Smoking,US,NaN,NaN,series title,0

In [38]:
## Programatically saving an fname using the chunk #
chunk_num=1
fname= f'Data/title_akas_chunk_{chunk_num:03d}.csv.gz'
fname

'Data/title_akas_chunk_001.csv.gz'

In [39]:
## Save temp_df to disk using the fname.
temp_df.to_csv(fname, compression='gzip')
## incrementing chunk_num by 1 for the next file.
chunk_num+=1

In [41]:
pd.read_csv(fname, index_col=0)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
100001,tt0022128,4,Mardi Gras,US,NaN,working,NaN,0.0
100006,tt0022130,2,Meet the Wife,US,NaN,imdbDisplay,NaN,0.0
100020,tt0022132,5,"My Wife, the Adventuress",US,NaN,imdbDisplay,NaN,0.0
100025,tt0022133,1,A Melon-Drama,US,NaN,imdbDisplay,NaN,0.0
100027,tt0022133,3,Broadway Headliners: A Melon-Drama,US,NaN,NaN,series title,0.0
...,...,...,...,...,...,...,...,...
199985,tt0035345,4,The East Side Kids in Smart Alecks,US,NaN,NaN,complete title,0.0
199987,tt0035346,2,Smith of Minnesota,US,NaN,imdbDisplay,NaN,0.0
199996,tt0035348,1,Joe McDoakes: So You Think You Need Glasses,US,NaN,NaN,series title,0.0
199998,tt0035348,3,So You Think You Need Glasses,US,NaN,imdbDisplay,NaN,0.0
199999,tt0035349,1,Joe McDoakes: So You Want to Give Up Smoking,US,NaN,NaN,series title,0.0

# ratings

In [15]:
%%time
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

CPU times: total: 844 ms
Wall time: 1.03 s

In [ ]:
basicsdf = basics.copy()
akasdf = akas.copy()
ratingsdf = ratings.copy()

In [ ]:
basicsdf.info()
basicsdf.head()

In [ ]:
basicsdf.replace({'\\N':np.nan})
akasdf.replace({'\\N':np.nan})
ratingsdf.replace({'\\N':np.nan})