In [1]:
import pandas as pd
import numpy as np
import glob
import os

In [2]:
os.makedirs('Data',exist_ok=True)

In [3]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

# akas

In [4]:
%%time
# title akas
chunk_num = 1
df_reader = pd.read_csv(akas_url, sep='\t',
                        low_memory=False, chunksize=100_000)

CPU times: total: 172 ms
Wall time: 9.51 s

In [5]:
%%time
for temp_df in df_reader:
        #### COMBINED WORKFLOW FROM ABOVE
    ## only us movies
    temp_df = temp_df[temp_df['region']=='US']
    
    ## Replace "\N" with np.nan
    temp_df.replace({'\\N':np.nan},inplace=True)
        
    ### Saving chunk to disk
    fname= f'Data/title_akas_chunk_{chunk_num:03d}.csv.gz'
    temp_df.to_csv(fname, compression='gzip')
    print(f"- Saved {fname}")
    
    ## increment chunk_num    
    chunk_num+=1

    ## Closing the reader now that we are done looping through the file
df_reader.close()

- Saved Data/title_akas_chunk_001.csv.gz
- Saved Data/title_akas_chunk_002.csv.gz
- Saved Data/title_akas_chunk_003.csv.gz
- Saved Data/title_akas_chunk_004.csv.gz
- Saved Data/title_akas_chunk_005.csv.gz
- Saved Data/title_akas_chunk_006.csv.gz
- Saved Data/title_akas_chunk_007.csv.gz
- Saved Data/title_akas_chunk_008.csv.gz
- Saved Data/title_akas_chunk_009.csv.gz
- Saved Data/title_akas_chunk_010.csv.gz
- Saved Data/title_akas_chunk_011.csv.gz
- Saved Data/title_akas_chunk_012.csv.gz
- Saved Data/title_akas_chunk_013.csv.gz
- Saved Data/title_akas_chunk_014.csv.gz
- Saved Data/title_akas_chunk_015.csv.gz
- Saved Data/title_akas_chunk_016.csv.gz
- Saved Data/title_akas_chunk_017.csv.gz
- Saved Data/title_akas_chunk_018.csv.gz
- Saved Data/title_akas_chunk_019.csv.gz
- Saved Data/title_akas_chunk_020.csv.gz
- Saved Data/title_akas_chunk_021.csv.gz
- Saved Data/title_akas_chunk_022.csv.gz
- Saved Data/title_akas_chunk_023.csv.gz
- Saved Data/title_akas_chunk_024.csv.gz
- Saved Data/title_akas_chunk_025.csv.gz
- Saved Data/title_akas_chunk_026.csv.gz
- Saved Data/title_akas_chunk_027.csv.gz
- Saved Data/title_akas_chunk_028.csv.gz
- Saved Data/title_akas_chunk_029.csv.gz
- Saved Data/title_akas_chunk_030.csv.gz
- Saved Data/title_akas_chunk_031.csv.gz
- Saved Data/title_akas_chunk_032.csv.gz
- Saved Data/title_akas_chunk_033.csv.gz
- Saved Data/title_akas_chunk_034.csv.gz
- Saved Data/title_akas_chunk_035.csv.gz
- Saved Data/title_akas_chunk_036.csv.gz
- Saved Data/title_akas_chunk_037.csv.gz
- Saved Data/title_akas_chunk_038.csv.gz
- Saved Data/title_akas_chunk_039.csv.gz
- Saved Data/title_akas_chunk_040.csv.gz
- Saved Data/title_akas_chunk_041.csv.gz
- Saved Data/title_akas_chunk_042.csv.gz
- Saved Data/title_akas_chunk_043.csv.gz
- Saved Data/title_akas_chunk_044.csv.gz
- Saved Data/title_akas_chunk_045.csv.gz
- Saved Data/title_akas_chunk_046.csv.gz
- Saved Data/title_akas_chunk_047.csv.gz
- Saved Data/title_akas_chunk_048.csv.gz
- Saved Data/title_akas_chunk_049.csv.gz
- Saved Data/title_akas_chunk_050.csv.gz
- Saved Data/title_akas_chunk_051.csv.gz
- Saved Data/title_akas_chunk_052.csv.gz
- Saved Data/title_akas_chunk_053.csv.gz
- Saved Data/title_akas_chunk_054.csv.gz
- Saved Data/title_akas_chunk_055.csv.gz
- Saved Data/title_akas_chunk_056.csv.gz
- Saved Data/title_akas_chunk_057.csv.gz
- Saved Data/title_akas_chunk_058.csv.gz
- Saved Data/title_akas_chunk_059.csv.gz
- Saved Data/title_akas_chunk_060.csv.gz
- Saved Data/title_akas_chunk_061.csv.gz
- Saved Data/title_akas_chunk_062.csv.gz
- Saved Data/title_akas_chunk_063.csv.gz
- Saved Data/title_akas_chunk_064.csv.gz
- Saved Data/title_akas_chunk_065.csv.gz
- Saved Data/title_akas_chunk_066.csv.gz
- Saved Data/title_akas_chunk_067.csv.gz
- Saved Data/title_akas_chunk_068.csv.gz
- Saved Data/title_akas_chunk_069.csv.gz
- Saved Data/title_akas_chunk_070.csv.gz
- Saved Data/title_akas_chunk_071.csv.gz
- Saved Data/title_akas_chunk_072.csv.gz
- Saved Data/title_akas_chunk_073.csv.gz
- Saved Data/title_akas_chunk_074.csv.gz
- Saved Data/title_akas_chunk_075.csv.gz
- Saved Data/title_akas_chunk_076.csv.gz
- Saved Data/title_akas_chunk_077.csv.gz
- Saved Data/title_akas_chunk_078.csv.gz
- Saved Data/title_akas_chunk_079.csv.gz
- Saved Data/title_akas_chunk_080.csv.gz
- Saved Data/title_akas_chunk_081.csv.gz
- Saved Data/title_akas_chunk_082.csv.gz
- Saved Data/title_akas_chunk_083.csv.gz
- Saved Data/title_akas_chunk_084.csv.gz
- Saved Data/title_akas_chunk_085.csv.gz
- Saved Data/title_akas_chunk_086.csv.gz
- Saved Data/title_akas_chunk_087.csv.gz
- Saved Data/title_akas_chunk_088.csv.gz
- Saved Data/title_akas_chunk_089.csv.gz
- Saved Data/title_akas_chunk_090.csv.gz
- Saved Data/title_akas_chunk_091.csv.gz
- Saved Data/title_akas_chunk_092.csv.gz
- Saved Data/title_akas_chunk_093.csv.gz
- Saved Data/title_akas_chunk_094.csv.gz
- Saved Data/title_akas_chunk_095.csv.gz
- Saved Data/title_akas_chunk_096.csv.gz
- Saved Data/title_akas_chunk_097.csv.gz
- Saved Data/title_akas_chunk_098.csv.gz
- Saved Data/title_akas_chunk_099.csv.gz
- Saved Data/title_akas_chunk_100.csv.gz
- Saved Data/title_akas_chunk_101.csv.gz
- Saved Data/title_akas_chunk_102.csv.gz
- Saved Data/title_akas_chunk_103.csv.gz
- Saved Data/title_akas_chunk_104.csv.gz
- Saved Data/title_akas_chunk_105.csv.gz
- Saved Data/title_akas_chunk_106.csv.gz
- Saved Data/title_akas_chunk_107.csv.gz
- Saved Data/title_akas_chunk_108.csv.gz
- Saved Data/title_akas_chunk_109.csv.gz
- Saved Data/title_akas_chunk_110.csv.gz
- Saved Data/title_akas_chunk_111.csv.gz
- Saved Data/title_akas_chunk_112.csv.gz
- Saved Data/title_akas_chunk_113.csv.gz
- Saved Data/title_akas_chunk_114.csv.gz
- Saved Data/title_akas_chunk_115.csv.gz
- Saved Data/title_akas_chunk_116.csv.gz
- Saved Data/title_akas_chunk_117.csv.gz
- Saved Data/title_akas_chunk_118.csv.gz
- Saved Data/title_akas_chunk_119.csv.gz
- Saved Data/title_akas_chunk_120.csv.gz
- Saved Data/title_akas_chunk_121.csv.gz
- Saved Data/title_akas_chunk_122.csv.gz
- Saved Data/title_akas_chunk_123.csv.gz
- Saved Data/title_akas_chunk_124.csv.gz
- Saved Data/title_akas_chunk_125.csv.gz
- Saved Data/title_akas_chunk_126.csv.gz
- Saved Data/title_akas_chunk_127.csv.gz
- Saved Data/title_akas_chunk_128.csv.gz
- Saved Data/title_akas_chunk_129.csv.gz
- Saved Data/title_akas_chunk_130.csv.gz
- Saved Data/title_akas_chunk_131.csv.gz
- Saved Data/title_akas_chunk_132.csv.gz
- Saved Data/title_akas_chunk_133.csv.gz
- Saved Data/title_akas_chunk_134.csv.gz
- Saved Data/title_akas_chunk_135.csv.gz
- Saved Data/title_akas_chunk_136.csv.gz
- Saved Data/title_akas_chunk_137.csv.gz
- Saved Data/title_akas_chunk_138.csv.gz
- Saved Data/title_akas_chunk_139.csv.gz
- Saved Data/title_akas_chunk_140.csv.gz
- Saved Data/title_akas_chunk_141.csv.gz
- Saved Data/title_akas_chunk_142.csv.gz
- Saved Data/title_akas_chunk_143.csv.gz
- Saved Data/title_akas_chunk_144.csv.gz
- Saved Data/title_akas_chunk_145.csv.gz
- Saved Data/title_akas_chunk_146.csv.gz
- Saved Data/title_akas_chunk_147.csv.gz
- Saved Data/title_akas_chunk_148.csv.gz
- Saved Data/title_akas_chunk_149.csv.gz
- Saved Data/title_akas_chunk_150.csv.gz
- Saved Data/title_akas_chunk_151.csv.gz
- Saved Data/title_akas_chunk_152.csv.gz
- Saved Data/title_akas_chunk_153.csv.gz
- Saved Data/title_akas_chunk_154.csv.gz
- Saved Data/title_akas_chunk_155.csv.gz
- Saved Data/title_akas_chunk_156.csv.gz
- Saved Data/title_akas_chunk_157.csv.gz
- Saved Data/title_akas_chunk_158.csv.gz
- Saved Data/title_akas_chunk_159.csv.gz
- Saved Data/title_akas_chunk_160.csv.gz
- Saved Data/title_akas_chunk_161.csv.gz
- Saved Data/title_akas_chunk_162.csv.gz
- Saved Data/title_akas_chunk_163.csv.gz
- Saved Data/title_akas_chunk_164.csv.gz
- Saved Data/title_akas_chunk_165.csv.gz
- Saved Data/title_akas_chunk_166.csv.gz
- Saved Data/title_akas_chunk_167.csv.gz
- Saved Data/title_akas_chunk_168.csv.gz
- Saved Data/title_akas_chunk_169.csv.gz
- Saved Data/title_akas_chunk_170.csv.gz
- Saved Data/title_akas_chunk_171.csv.gz
- Saved Data/title_akas_chunk_172.csv.gz
- Saved Data/title_akas_chunk_173.csv.gz
- Saved Data/title_akas_chunk_174.csv.gz
- Saved Data/title_akas_chunk_175.csv.gz
- Saved Data/title_akas_chunk_176.csv.gz
- Saved Data/title_akas_chunk_177.csv.gz
- Saved Data/title_akas_chunk_178.csv.gz
- Saved Data/title_akas_chunk_179.csv.gz
- Saved Data/title_akas_chunk_180.csv.gz
- Saved Data/title_akas_chunk_181.csv.gz
- Saved Data/title_akas_chunk_182.csv.gz
- Saved Data/title_akas_chunk_183.csv.gz
- Saved Data/title_akas_chunk_184.csv.gz
- Saved Data/title_akas_chunk_185.csv.gz
- Saved Data/title_akas_chunk_186.csv.gz
- Saved Data/title_akas_chunk_187.csv.gz
- Saved Data/title_akas_chunk_188.csv.gz
- Saved Data/title_akas_chunk_189.csv.gz
- Saved Data/title_akas_chunk_190.csv.gz
- Saved Data/title_akas_chunk_191.csv.gz
- Saved Data/title_akas_chunk_192.csv.gz
- Saved Data/title_akas_chunk_193.csv.gz
- Saved Data/title_akas_chunk_194.csv.gz
- Saved Data/title_akas_chunk_195.csv.gz
- Saved Data/title_akas_chunk_196.csv.gz
- Saved Data/title_akas_chunk_197.csv.gz
- Saved Data/title_akas_chunk_198.csv.gz
- Saved Data/title_akas_chunk_199.csv.gz
- Saved Data/title_akas_chunk_200.csv.gz
- Saved Data/title_akas_chunk_201.csv.gz

- Saved Data/title_akas_chunk_202.csv.gz
- Saved Data/title_akas_chunk_203.csv.gz
- Saved Data/title_akas_chunk_204.csv.gz
- Saved Data/title_akas_chunk_205.csv.gz
- Saved Data/title_akas_chunk_206.csv.gz
- Saved Data/title_akas_chunk_207.csv.gz
- Saved Data/title_akas_chunk_208.csv.gz
- Saved Data/title_akas_chunk_209.csv.gz
- Saved Data/title_akas_chunk_210.csv.gz
- Saved Data/title_akas_chunk_211.csv.gz
- Saved Data/title_akas_chunk_212.csv.gz
- Saved Data/title_akas_chunk_213.csv.gz
- Saved Data/title_akas_chunk_214.csv.gz
- Saved Data/title_akas_chunk_215.csv.gz
- Saved Data/title_akas_chunk_216.csv.gz
- Saved Data/title_akas_chunk_217.csv.gz
- Saved Data/title_akas_chunk_218.csv.gz
- Saved Data/title_akas_chunk_219.csv.gz
- Saved Data/title_akas_chunk_220.csv.gz
- Saved Data/title_akas_chunk_221.csv.gz
- Saved Data/title_akas_chunk_222.csv.gz
- Saved Data/title_akas_chunk_223.csv.gz
- Saved Data/title_akas_chunk_224.csv.gz
- Saved Data/title_akas_chunk_225.csv.gz
- Saved Data/title_akas_chunk_226.csv.gz
- Saved Data/title_akas_chunk_227.csv.gz
- Saved Data/title_akas_chunk_228.csv.gz
- Saved Data/title_akas_chunk_229.csv.gz
- Saved Data/title_akas_chunk_230.csv.gz
- Saved Data/title_akas_chunk_231.csv.gz
- Saved Data/title_akas_chunk_232.csv.gz
- Saved Data/title_akas_chunk_233.csv.gz
- Saved Data/title_akas_chunk_234.csv.gz
- Saved Data/title_akas_chunk_235.csv.gz
- Saved Data/title_akas_chunk_236.csv.gz
- Saved Data/title_akas_chunk_237.csv.gz
- Saved Data/title_akas_chunk_238.csv.gz
- Saved Data/title_akas_chunk_239.csv.gz
- Saved Data/title_akas_chunk_240.csv.gz
- Saved Data/title_akas_chunk_241.csv.gz
- Saved Data/title_akas_chunk_242.csv.gz
- Saved Data/title_akas_chunk_243.csv.gz
- Saved Data/title_akas_chunk_244.csv.gz
- Saved Data/title_akas_chunk_245.csv.gz
- Saved Data/title_akas_chunk_246.csv.gz
- Saved Data/title_akas_chunk_247.csv.gz
- Saved Data/title_akas_chunk_248.csv.gz
- Saved Data/title_akas_chunk_249.csv.gz
- Saved Data/title_akas_chunk_250.csv.gz
- Saved Data/title_akas_chunk_251.csv.gz
- Saved Data/title_akas_chunk_252.csv.gz
- Saved Data/title_akas_chunk_253.csv.gz
- Saved Data/title_akas_chunk_254.csv.gz
- Saved Data/title_akas_chunk_255.csv.gz
- Saved Data/title_akas_chunk_256.csv.gz
- Saved Data/title_akas_chunk_257.csv.gz
- Saved Data/title_akas_chunk_258.csv.gz
- Saved Data/title_akas_chunk_259.csv.gz
- Saved Data/title_akas_chunk_260.csv.gz
- Saved Data/title_akas_chunk_261.csv.gz
- Saved Data/title_akas_chunk_262.csv.gz
- Saved Data/title_akas_chunk_263.csv.gz
- Saved Data/title_akas_chunk_264.csv.gz
- Saved Data/title_akas_chunk_265.csv.gz
- Saved Data/title_akas_chunk_266.csv.gz
- Saved Data/title_akas_chunk_267.csv.gz
- Saved Data/title_akas_chunk_268.csv.gz
- Saved Data/title_akas_chunk_269.csv.gz
- Saved Data/title_akas_chunk_270.csv.gz
- Saved Data/title_akas_chunk_271.csv.gz
- Saved Data/title_akas_chunk_272.csv.gz
- Saved Data/title_akas_chunk_273.csv.gz
- Saved Data/title_akas_chunk_274.csv.gz
- Saved Data/title_akas_chunk_275.csv.gz
- Saved Data/title_akas_chunk_276.csv.gz
- Saved Data/title_akas_chunk_277.csv.gz
- Saved Data/title_akas_chunk_278.csv.gz
- Saved Data/title_akas_chunk_279.csv.gz
- Saved Data/title_akas_chunk_280.csv.gz
- Saved Data/title_akas_chunk_281.csv.gz
- Saved Data/title_akas_chunk_282.csv.gz
- Saved Data/title_akas_chunk_283.csv.gz
- Saved Data/title_akas_chunk_284.csv.gz
- Saved Data/title_akas_chunk_285.csv.gz
- Saved Data/title_akas_chunk_286.csv.gz
- Saved Data/title_akas_chunk_287.csv.gz
- Saved Data/title_akas_chunk_288.csv.gz
- Saved Data/title_akas_chunk_289.csv.gz
- Saved Data/title_akas_chunk_290.csv.gz
- Saved Data/title_akas_chunk_291.csv.gz
- Saved Data/title_akas_chunk_292.csv.gz
- Saved Data/title_akas_chunk_293.csv.gz
- Saved Data/title_akas_chunk_294.csv.gz
- Saved Data/title_akas_chunk_295.csv.gz
- Saved Data/title_akas_chunk_296.csv.gz
- Saved Data/title_akas_chunk_297.csv.gz
- Saved Data/title_akas_chunk_298.csv.gz
- Saved Data/title_akas_chunk_299.csv.gz
- Saved Data/title_akas_chunk_300.csv.gz
- Saved Data/title_akas_chunk_301.csv.gz
- Saved Data/title_akas_chunk_302.csv.gz
- Saved Data/title_akas_chunk_303.csv.gz
- Saved Data/title_akas_chunk_304.csv.gz
- Saved Data/title_akas_chunk_305.csv.gz
- Saved Data/title_akas_chunk_306.csv.gz
- Saved Data/title_akas_chunk_307.csv.gz
- Saved Data/title_akas_chunk_308.csv.gz
- Saved Data/title_akas_chunk_309.csv.gz
- Saved Data/title_akas_chunk_310.csv.gz
- Saved Data/title_akas_chunk_311.csv.gz
- Saved Data/title_akas_chunk_312.csv.gz
- Saved Data/title_akas_chunk_313.csv.gz
- Saved Data/title_akas_chunk_314.csv.gz
- Saved Data/title_akas_chunk_315.csv.gz
- Saved Data/title_akas_chunk_316.csv.gz
- Saved Data/title_akas_chunk_317.csv.gz
- Saved Data/title_akas_chunk_318.csv.gz
- Saved Data/title_akas_chunk_319.csv.gz
- Saved Data/title_akas_chunk_320.csv.gz
- Saved Data/title_akas_chunk_321.csv.gz
- Saved Data/title_akas_chunk_322.csv.gz
- Saved Data/title_akas_chunk_323.csv.gz
- Saved Data/title_akas_chunk_324.csv.gz
- Saved Data/title_akas_chunk_325.csv.gz
- Saved Data/title_akas_chunk_326.csv.gz
- Saved Data/title_akas_chunk_327.csv.gz
- Saved Data/title_akas_chunk_328.csv.gz
- Saved Data/title_akas_chunk_329.csv.gz
- Saved Data/title_akas_chunk_330.csv.gz
- Saved Data/title_akas_chunk_331.csv.gz
- Saved Data/title_akas_chunk_332.csv.gz
- Saved Data/title_akas_chunk_333.csv.gz
- Saved Data/title_akas_chunk_334.csv.gz
- Saved Data/title_akas_chunk_335.csv.gz
- Saved Data/title_akas_chunk_336.csv.gz
- Saved Data/title_akas_chunk_337.csv.gz
- Saved Data/title_akas_chunk_338.csv.gz
- Saved Data/title_akas_chunk_339.csv.gz
- Saved Data/title_akas_chunk_340.csv.gz
- Saved Data/title_akas_chunk_341.csv.gz
- Saved Data/title_akas_chunk_342.csv.gz
- Saved Data/title_akas_chunk_343.csv.gz
- Saved Data/title_akas_chunk_344.csv.gz
- Saved Data/title_akas_chunk_345.csv.gz
- Saved Data/title_akas_chunk_346.csv.gz
- Saved Data/title_akas_chunk_347.csv.gz
- Saved Data/title_akas_chunk_348.csv.gz
- Saved Data/title_akas_chunk_349.csv.gz
- Saved Data/title_akas_chunk_350.csv.gz
- Saved Data/title_akas_chunk_351.csv.gz
- Saved Data/title_akas_chunk_352.csv.gz
- Saved Data/title_akas_chunk_353.csv.gz
- Saved Data/title_akas_chunk_354.csv.gz
- Saved Data/title_akas_chunk_355.csv.gz
- Saved Data/title_akas_chunk_356.csv.gz
- Saved Data/title_akas_chunk_357.csv.gz
- Saved Data/title_akas_chunk_358.csv.gz
- Saved Data/title_akas_chunk_359.csv.gz
- Saved Data/title_akas_chunk_360.csv.gz
CPU times: total: 1min 8s
Wall time: 1min 12s

In [6]:
# Recursive query - extra /**/ added to string
q = "Data/**/title_akas_chunk*.csv.gz" 
chunked_files = sorted(glob.glob(q, recursive=True)) 
# Showing the first 5 
chunked_files[:5]

['Data\\title_akas_chunk_001.csv.gz',
 'Data\\title_akas_chunk_002.csv.gz',
 'Data\\title_akas_chunk_003.csv.gz',
 'Data\\title_akas_chunk_004.csv.gz',
 'Data\\title_akas_chunk_005.csv.gz']

In [7]:
## Loading and Concatenating the list of dfs with 1 line
akas_combined = pd.concat([pd.read_csv(file, index_col=0) for file in chunked_files])
akas_combined

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0
...,...,...,...,...,...,...,...,...
35908778,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,NaN,imdbDisplay,NaN,0.0
35908848,tt9916620,1,The Copeland Case,US,NaN,imdbDisplay,NaN,0.0
35908937,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0.0
35908980,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0.0
35908996,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0.0

In [8]:
## Save current dataframe to file.
akas_combined.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [9]:
# Open saved file and preview again
akas_combined = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas_combined.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [10]:
akas_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1437055 entries, 0 to 1437054
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1437055 non-null  object
 1   ordering         1437055 non-null  int64
 2   title            1437055 non-null  object
 3   region           1437055 non-null  object
 4   language         3925 non-null     object
 5   types            978878 non-null   object
 6   attributes       46578 non-null    object
 7   isOriginalTitle  1435710 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 87.7+ MB

# Basics

In [11]:
%%time
# title basics
chunk_num = 1
df_reader = pd.read_csv(basics_url, sep='\t',
                        low_memory=False, chunksize=100_000)

CPU times: total: 109 ms
Wall time: 6.01 s

In [12]:
%%time
for temp_df in df_reader:
        #### COMBINED WORKFLOW FROM ABOVE
    ## Replace "\N" with np.nan
    temp_df.replace({'\\N':np.nan},inplace=True)
    
    ## Eliminate movies that are null for runtimeMinute, genres, and startYear
    temp_df = temp_df.dropna(subset=['runtimeMinutes','genres','startYear']) 
        
    ## NOTE: THERE ARE ADDITIONAL REQUIRED FILTERING STEPS FOR THE PROJECT NOT SHOWN HERE
    
    ### Convert startyear to numeric for slicing
    
    ## convert numeric features
    temp_df['startYear'] = temp_df['startYear'].astype(float)
    
    ## keep startYear 2000-2022
    temp_df = temp_df[(temp_df['startYear']>=2000)&(temp_df['startYear']<2022)]
    
    # Exclude movies that are included in the documentary category.
    is_documentary = temp_df['genres'].str.contains('documentary',case=False)
    temp_df = temp_df[~is_documentary]

    is_movie = temp_df['titleType']=='movie'
    temp_df = temp_df[is_movie]
    
    ### Saving chunk to disk
    fname= f'Data/title_basics_chunk_{chunk_num:03d}.csv.gz'
    temp_df.to_csv(fname, compression='gzip')
    print(f"- Saved {fname}")
    
    ## increment chunk_num    
    chunk_num+=1

    ## Closing the reader now that we are done looping through the file
df_reader.close()

- Saved Data/title_basics_chunk_001.csv.gz
- Saved Data/title_basics_chunk_002.csv.gz
- Saved Data/title_basics_chunk_003.csv.gz
- Saved Data/title_basics_chunk_004.csv.gz
- Saved Data/title_basics_chunk_005.csv.gz
- Saved Data/title_basics_chunk_006.csv.gz
- Saved Data/title_basics_chunk_007.csv.gz
- Saved Data/title_basics_chunk_008.csv.gz
- Saved Data/title_basics_chunk_009.csv.gz
- Saved Data/title_basics_chunk_010.csv.gz
- Saved Data/title_basics_chunk_011.csv.gz
- Saved Data/title_basics_chunk_012.csv.gz
- Saved Data/title_basics_chunk_013.csv.gz
- Saved Data/title_basics_chunk_014.csv.gz
- Saved Data/title_basics_chunk_015.csv.gz
- Saved Data/title_basics_chunk_016.csv.gz
- Saved Data/title_basics_chunk_017.csv.gz
- Saved Data/title_basics_chunk_018.csv.gz
- Saved Data/title_basics_chunk_019.csv.gz
- Saved Data/title_basics_chunk_020.csv.gz
- Saved Data/title_basics_chunk_021.csv.gz
- Saved Data/title_basics_chunk_022.csv.gz
- Saved Data/title_basics_chunk_023.csv.gz
- Saved Data/title_basics_chunk_024.csv.gz
- Saved Data/title_basics_chunk_025.csv.gz
- Saved Data/title_basics_chunk_026.csv.gz
- Saved Data/title_basics_chunk_027.csv.gz
- Saved Data/title_basics_chunk_028.csv.gz
- Saved Data/title_basics_chunk_029.csv.gz
- Saved Data/title_basics_chunk_030.csv.gz
- Saved Data/title_basics_chunk_031.csv.gz
- Saved Data/title_basics_chunk_032.csv.gz
- Saved Data/title_basics_chunk_033.csv.gz
- Saved Data/title_basics_chunk_034.csv.gz
- Saved Data/title_basics_chunk_035.csv.gz
- Saved Data/title_basics_chunk_036.csv.gz
- Saved Data/title_basics_chunk_037.csv.gz
- Saved Data/title_basics_chunk_038.csv.gz
- Saved Data/title_basics_chunk_039.csv.gz
- Saved Data/title_basics_chunk_040.csv.gz
- Saved Data/title_basics_chunk_041.csv.gz
- Saved Data/title_basics_chunk_042.csv.gz
- Saved Data/title_basics_chunk_043.csv.gz
- Saved Data/title_basics_chunk_044.csv.gz
- Saved Data/title_basics_chunk_045.csv.gz
- Saved Data/title_basics_chunk_046.csv.gz
- Saved Data/title_basics_chunk_047.csv.gz
- Saved Data/title_basics_chunk_048.csv.gz
- Saved Data/title_basics_chunk_049.csv.gz
- Saved Data/title_basics_chunk_050.csv.gz
- Saved Data/title_basics_chunk_051.csv.gz
- Saved Data/title_basics_chunk_052.csv.gz
- Saved Data/title_basics_chunk_053.csv.gz
- Saved Data/title_basics_chunk_054.csv.gz
- Saved Data/title_basics_chunk_055.csv.gz
- Saved Data/title_basics_chunk_056.csv.gz
- Saved Data/title_basics_chunk_057.csv.gz
- Saved Data/title_basics_chunk_058.csv.gz
- Saved Data/title_basics_chunk_059.csv.gz
- Saved Data/title_basics_chunk_060.csv.gz
- Saved Data/title_basics_chunk_061.csv.gz
- Saved Data/title_basics_chunk_062.csv.gz
- Saved Data/title_basics_chunk_063.csv.gz
- Saved Data/title_basics_chunk_064.csv.gz
- Saved Data/title_basics_chunk_065.csv.gz
- Saved Data/title_basics_chunk_066.csv.gz
- Saved Data/title_basics_chunk_067.csv.gz
- Saved Data/title_basics_chunk_068.csv.gz
- Saved Data/title_basics_chunk_069.csv.gz
- Saved Data/title_basics_chunk_070.csv.gz
- Saved Data/title_basics_chunk_071.csv.gz
- Saved Data/title_basics_chunk_072.csv.gz
- Saved Data/title_basics_chunk_073.csv.gz
- Saved Data/title_basics_chunk_074.csv.gz
- Saved Data/title_basics_chunk_075.csv.gz
- Saved Data/title_basics_chunk_076.csv.gz
- Saved Data/title_basics_chunk_077.csv.gz
- Saved Data/title_basics_chunk_078.csv.gz
- Saved Data/title_basics_chunk_079.csv.gz
- Saved Data/title_basics_chunk_080.csv.gz
- Saved Data/title_basics_chunk_081.csv.gz
- Saved Data/title_basics_chunk_082.csv.gz
- Saved Data/title_basics_chunk_083.csv.gz
- Saved Data/title_basics_chunk_084.csv.gz
- Saved Data/title_basics_chunk_085.csv.gz
- Saved Data/title_basics_chunk_086.csv.gz
- Saved Data/title_basics_chunk_087.csv.gz
- Saved Data/title_basics_chunk_088.csv.gz
- Saved Data/title_basics_chunk_089.csv.gz
- Saved Data/title_basics_chunk_090.csv.gz
- Saved Data/title_basics_chunk_091.csv.gz
- Saved Data/title_basics_chunk_092.csv.gz
- Saved Data/title_basics_chunk_093.csv.gz
- Saved Data/title_basics_chunk_094.csv.gz
- Saved Data/title_basics_chunk_095.csv.gz
- Saved Data/title_basics_chunk_096.csv.gz
- Saved Data/title_basics_chunk_097.csv.gz
- Saved Data/title_basics_chunk_098.csv.gz
- Saved Data/title_basics_chunk_099.csv.gz
CPU times: total: 1min 4s
Wall time: 1min 6s

In [13]:
# Recursive query - extra /**/ added to string
q = "Data/**/title_basics_chunk*.csv.gz" 
chunked_files = sorted(glob.glob(q, recursive=True)) 
# Showing the first 5 
chunked_files[:5]

['Data\\title_basics_chunk_001.csv.gz',
 'Data\\title_basics_chunk_002.csv.gz',
 'Data\\title_basics_chunk_003.csv.gz',
 'Data\\title_basics_chunk_004.csv.gz',
 'Data\\title_basics_chunk_005.csv.gz']

In [14]:
## Loading and Concatenating the list of dfs with 1 line
basics_combined = pd.concat([pd.read_csv(file, index_col=0) for file in chunked_files])
basics_combined

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
33803,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001.0,NaN,20,Short
39545,tt0040241,short,Color Rhapsodie,Color Rhapsodie,0,2021.0,NaN,6,Short
43548,tt0044326,short,Abstronic,Abstronic,0,2021.0,NaN,6,Short
55758,tt0056840,short,Aufsätze,Aufsätze,0,2021.0,NaN,10,Short
59203,tt0060361,short,EMS nr 1,EMS nr 1,0,2016.0,NaN,14,Short
...,...,...,...,...,...,...,...,...,...
9851931,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015.0,NaN,66,Drama
9851964,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019.0,NaN,43,"Family,Game-Show,Reality-TV"
9851999,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014.0,NaN,11,"Adventure,Animation,Comedy"
9852006,tt9916856,short,The Wind,The Wind,0,2015.0,NaN,27,Short
9852007,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014.0,NaN,10,"Adventure,Animation,Comedy"

In [29]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics_combined['tconst'].isin(akas_combined['titleId'])
keepers

0         True
1         True
2         True
3         True
4         True
          ...
411310    True
411311    True
411312    True
411313    True
411314    True
Name: tconst, Length: 411315, dtype: bool

In [16]:
basics_combined = basics_combined[keepers]
basics_combined

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
33803,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001.0,NaN,20,Short
39545,tt0040241,short,Color Rhapsodie,Color Rhapsodie,0,2021.0,NaN,6,Short
43548,tt0044326,short,Abstronic,Abstronic,0,2021.0,NaN,6,Short
108560,tt0111056,tvSeries,Gensomaden Saiyuki,Gensomaden Saiyuki,0,2000.0,2001.0,23,"Action,Adventure,Animation"
110977,tt0113545,short,The Killing Seasons,The Killing Seasons,0,2001.0,NaN,9,"Action,Drama,Short"
...,...,...,...,...,...,...,...,...,...
9851695,tt9916200,tvEpisode,The Great Experiment,The Great Experiment,0,2019.0,NaN,43,"Drama,Thriller"
9851696,tt9916204,tvEpisode,Better Angels,Better Angels,0,2019.0,NaN,42,"Drama,Thriller"
9851701,tt9916214,short,Drown the Clown,Drown the Clown,0,2019.0,NaN,8,"Drama,Short"
9851721,tt9916254,video,Big Tit Cream Pie 32,Big Tit Cream Pie 32,1,2015.0,NaN,226,Adult
9851767,tt9916348,video,Ancient World Exposed,Ancient World Exposed,0,2019.0,NaN,67,History

In [17]:
## Save current dataframe to file.
basics_combined.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [18]:
# Open saved file and preview again
basics_combined = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics_combined.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001.0,NaN,20,Short
1,tt0040241,short,Color Rhapsodie,Color Rhapsodie,0,2021.0,NaN,6,Short
2,tt0044326,short,Abstronic,Abstronic,0,2021.0,NaN,6,Short
3,tt0111056,tvSeries,Gensomaden Saiyuki,Gensomaden Saiyuki,0,2000.0,2001.0,23,"Action,Adventure,Animation"
4,tt0113545,short,The Killing Seasons,The Killing Seasons,0,2001.0,NaN,9,"Action,Drama,Short"

In [19]:
basics_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411315 entries, 0 to 411314
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          411315 non-null  object
 1   titleType       411315 non-null  object
 2   primaryTitle    411315 non-null  object
 3   originalTitle   411315 non-null  object
 4   isAdult         411315 non-null  int64
 5   startYear       411315 non-null  float64
 6   endYear         10920 non-null   float64
 7   runtimeMinutes  411315 non-null  int64
 8   genres          411315 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 28.2+ MB

# ratings

In [20]:
%%time
# title ratings
chunk_num = 1
df_reader = pd.read_csv(ratings_url, sep='\t',
                        low_memory=False, chunksize=100_000)

CPU times: total: 15.6 ms
Wall time: 890 ms

In [21]:
%%time
for temp_df in df_reader:
        #### COMBINED WORKFLOW FROM ABOVE
    ## Replace "\N" with np.nan
    temp_df.replace({'\\N':np.nan},inplace=True)
      
    ### Saving chunk to disk
    fname= f'Data/title_ratings_chunk_{chunk_num:03d}.csv.gz'
    temp_df.to_csv(fname, compression='gzip')
    print(f"- Saved {fname}")
    
    ## increment chunk_num    
    chunk_num+=1

    ## Closing the reader now that we are done looping through the file
df_reader.close()

- Saved Data/title_ratings_chunk_001.csv.gz
- Saved Data/title_ratings_chunk_002.csv.gz
- Saved Data/title_ratings_chunk_003.csv.gz
- Saved Data/title_ratings_chunk_004.csv.gz
- Saved Data/title_ratings_chunk_005.csv.gz
- Saved Data/title_ratings_chunk_006.csv.gz
- Saved Data/title_ratings_chunk_007.csv.gz
- Saved Data/title_ratings_chunk_008.csv.gz
- Saved Data/title_ratings_chunk_009.csv.gz
- Saved Data/title_ratings_chunk_010.csv.gz
- Saved Data/title_ratings_chunk_011.csv.gz
- Saved Data/title_ratings_chunk_012.csv.gz
- Saved Data/title_ratings_chunk_013.csv.gz
- Saved Data/title_ratings_chunk_014.csv.gz
CPU times: total: 13.8 s
Wall time: 14.3 s

In [22]:
# Recursive query - extra /**/ added to string
q = "Data/**/title_ratings_chunk*.csv.gz" 
chunked_files = sorted(glob.glob(q, recursive=True)) 
# Showing the first 5 
chunked_files[:5]

['Data\\title_ratings_chunk_001.csv.gz',
 'Data\\title_ratings_chunk_002.csv.gz',
 'Data\\title_ratings_chunk_003.csv.gz',
 'Data\\title_ratings_chunk_004.csv.gz',
 'Data\\title_ratings_chunk_005.csv.gz']

In [23]:
## Loading and Concatenating the list of dfs with 1 line
ratings_combined = pd.concat([pd.read_csv(file, index_col=0) for file in chunked_files])
ratings_combined

            tconst  averageRating  numVotes
0        tt0000001            5.7      1972
1        tt0000002            5.8       263
2        tt0000003            6.5      1819
3        tt0000004            5.6       178
4        tt0000005            6.2      2614
...            ...            ...       ...
1311813  tt9916730            8.3        10
1311814  tt9916766            7.0        21
1311815  tt9916778            7.2        36
1311816  tt9916840            7.5         7
1311817  tt9916880            7.0         7

[1311818 rows x 3 columns]

In [24]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =ratings_combined['tconst'].isin(akas_combined['titleId'])
keepers

0           True
1           True
2          False
3          False
4           True
           ...
1311813    False
1311814    False
1311815    False
1311816    False
1311817    False
Name: tconst, Length: 1311818, dtype: bool

In [25]:
ratings_combined = ratings_combined[keepers]
ratings_combined

            tconst  averageRating  numVotes
0        tt0000001            5.7      1972
1        tt0000002            5.8       263
4        tt0000005            6.2      2614
5        tt0000006            5.1       181
6        tt0000007            5.4       818
...            ...            ...       ...
1311779  tt9916200            8.1       229
1311780  tt9916204            8.1       262
1311787  tt9916348            8.3        18
1311788  tt9916362            6.4      5329
1311793  tt9916428            3.8        14

[499224 rows x 3 columns]

In [26]:
## Save current dataframe to file.
ratings_combined.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [27]:
# Open saved file and preview again
ratings_combined = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings_combined.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1972
1  tt0000002            5.8       263
2  tt0000005            6.2      2614
3  tt0000006            5.1       181
4  tt0000007            5.4       818

In [28]:
ratings_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499224 entries, 0 to 499223
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         499224 non-null  object
 1   averageRating  499224 non-null  float64
 2   numVotes       499224 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.4+ MB